{
  "services": [
    "api",
    "website",
    "network"
  ],
  "split": "->",
  "port": 80,
  "authorized": "mydomain.com",
  "email": {
    "user": "status@yourcompanydomain.com",
    "password": "emailpassword",
    "host": "mail.yourcompanydomain.com",
    "port": 993,
    "tls": true,
    "tlsOptions": {
      "rejectUnauthorized": false
    }
  }
}
